.App {
  /* text-align: center; */
}

.example {
  font-size: 50px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hover-underline-animation:hover::after {
    /* background: #FFD23C; */
    color: #707070;
    cursor: pointer;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFD23C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }