.instructor {
  margin-top: 30px;
}

.row-instructor {
  padding-top: 20px;
}

.column-instructor {
  text-align: center;
}

.image-instructor {
  width: 80%;
  height: 250;
  border-radius: 50%;
  margin-bottom: 20px;
}